<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      Organisationen im Datenregister sind die veröffentlichenden Stellen der Datensätze. Beispiele sind etwa die unterschiedlichen Senatsverwaltungen, Bezirksverwaltungen oder landeseigene Betriebe. Weiterhin können Organisationen Unterorganisationen wie Referate oder Abteilungen haben.</p>    

  </div>
</div>