<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">About</py:def>

  <div py:match="content">
    <h2>About ${g.site_title}</h2>
    
    <p>Datenregister Berlin ist die nicht-öffentliche Datenbank hinter dem öffentlichen <a href="http://daten.berlin.de">Open Data Portal des Landes Berlin</a>. Hier werden Metadaten zu neuen Datensätze zum Datenportal hinzugefügt und gewartet.</p>

    <h2>Impressum</h2>
    
    <ul>
      <li>
          Herausgeber:<br/>
          <a href="http://www.berlin.de/sen/wirtschaft/struktur/impressum.html">Senatsverwaltung für Wirtschaft, Technologie und Forschung</a>
      </li>
      <li>
          Betreiber:<br/>
          <a href="http://www.berlinonline.de/wir-ueber-uns/impressum/">BerlinOnline Stadtportal GmbH &amp; Co. KG</a>
      </li>
      <li>
          Basiert auf:<br/>
           <a href="http://ckan.org">CKAN</a> v${c.__version__}, 
          &copy; 2012
          <img src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" id="footer-okf-logo" />
          <a href="http://okfn.org/">Open Knowledge Foundation</a>,
          Licensed under the <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a>
      </li>
    </ul>
    


	</div>

  <xi:include href="layout.html" />
</html>
