<section class="additional-info">
  <h3>{{ _('Metadatenschema Berlin') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}

        {# Dataset Type #}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Art") }}</th>
          <td class="dataset-details">{{ h.berlin_dataset_type_mapping()[pkg_dict.berlin_type] }}</th>
        </tr>

        {# Dataset Source #}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Quelle") }}</th>
          <td class="dataset-details">{{ pkg_dict.berlin_source }}</th>
        </tr>

        {# Status #}
        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ h.berlin_state_mapping()[_(pkg_dict.state)] }}</td>
          </tr>
        {% endif %}

        {# Veröffentlichende Stelle #}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Veröffentlichende Stelle") }}</th>
          <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
        </tr>

        {# Kontaktperson #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Kontaktperson') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
        </tr>

        {# Kontakt-Email #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Kontakt-Email') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer_email) }}</td>
        </tr>

        {# Veröffentlichende Person #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Veröffentlichende Person') }}</th>
          {% if not pkg_dict.username %}
            <td class="dataset-details none-value" property="dc:contributor">undefiniert</td>
          {% else %}
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.username }}</td>
          {% endif %}
        </tr>
        
        {# Webadresse #}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Webadresse') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}
        
        {# Lizenz #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Lizenz') }}</th>
          <td class="dataset-details">{{ pkg_dict.license_title }} ({{ pkg_dict.license_id }})</td>
        </tr>
        {# Attribution #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Text für Namensnennung') }}</th>
          {% if pkg_dict.attribution_text == None %}
            <td class="dataset-details none-value">undefiniert</td>
          {% else %}
            <td class="dataset-details">{{ pkg_dict.attribution_text }}</td>
          {% endif %}
        </tr>

        {# Veröffentlichungsdatum #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Veröffentlichungsdatum') }}</th>
          {% if pkg_dict.date_released == None %}
            <td class="dataset-details none-value">undefiniert</td>
          {% else %}
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.date_released) }}</td>
          {% endif %}
        </tr>
        
        {# Aktualisierungsdatum #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Aktualisierungsdatum') }}</th>
          {% if pkg_dict.date_updated == None %}
            <td class="dataset-details none-value">undefiniert</td>
          {% else %}
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.date_updated) }}</td>
          {% endif %}
        </tr>
        
        {# Zeitliche Abdeckung von ... #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Zeitliche Abdeckung von') }} &hellip;</th>
          {% if not pkg_dict.temporal_coverage_from %}
            <td class="dataset-details none-value">undefiniert</td>
          {% else %}
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.temporal_coverage_from) }}</td>
          {% endif %}
        </tr>
        
        {# Zeitliche Abdeckung ... bis #}
        <tr>
          <th scope="row" class="dataset-label">&hellip; {{ _('bis') }}</th>
          {% if not pkg_dict.temporal_coverage_to %}
            <td class="dataset-details none-value">undefiniert</td>
          {% else %}
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.temporal_coverage_to) }}</td>
          {% endif %}
        </tr>
        
        {# Zeitliche Auflösung #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Zeitliche Auflösung') }}</th>
          <td class="dataset-details">{{ pkg_dict.temporal_granularity }}</td>
        </tr>
        
        {# Geografische Abdeckung #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Geografische Abdeckung') }}</th>
          <td class="dataset-details">{{ pkg_dict.geographical_coverage }}</td>
        </tr>
        
        {# Geografische Auflösung #}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Geografische Auflösung') }}</th>
          <td class="dataset-details">{{ pkg_dict.geographical_granularity }}</td>
        </tr>
      </tbody>
    </table>
        
    <h3>{{ _('Timestamps') }}</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Metadaten Letzte Änderung") }}</th>
            <td class="dataset-details">{{ pkg_dict.metadata_modified }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Metadaten erstellt") }}</th>
            <td class="dataset-details">{{ pkg_dict.metadata_created }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <h3>{{ _('Weitere Metadaten') }}</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras, exclude=['berlin.type', 'username', 'attribution_text', 'date_released', 'date_updated', 'temporal_coverage_from', 'temporal_coverage_to', 'temporal_granularity', 'geographical_coverage']) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
