/* 
  Farben:
  - 01 (darkest): 726E60
  - 02: 98B06F
  - 03: B6DC76
  - 04 (lightest): DBFF76
  - contrast: 442B48
*/

.banner {
  background-color: #98B06F;
}

.media-view.hovered {
  border-color: #98B06F;
}

.media-view.hovered .banner {
  background-color: #98B06F;
}

.homepage .module-search .module-content {
  background-color: #98B06F;
}

.homepage .module-search .tags {
  background-color: #726E60;
}


.account-masthead {
  background: #726E60;
  /*background: #726E60 url("../../../base/images/bg.png");*/
}

.masthead {
  background: #98B06F;
  /*background: #98B06F url("../../../base/images/bg.png");*/
}

.masthead .navigation .nav-pills li.active a {
  background-color: #726E60;
}

.masthead .btn-navbar[disabled] {
  background-color: #726E60;
}

.site-footer {
  background: #98B06F;
  /*background: #98B06F url("../../../base/images/bg.png");*/
}

.site-footer .navigation .nav-pills li.active a {
  background-color: #726E60;
}

.site-footer .btn-navbar[disabled] {
  background-color: #726E60;
}

body {
  background: #98B06F;
  /*background: #98B06F url("../../../base/images/bg.png");*/
}

/*
* Forms
*/

.none-value {
  font-style: italic;
  color: lightgrey;
}

th[scope="col"] {
  background-color: #726E60; 
  color: #D9E7EB;
}

.control-label {
/*-ms-word-break: break-all;
     word-break: break-all;

     word-break: break-word;
*/
-webkit-hyphens: manual;
/*   -moz-hyphens: auto;
        hyphens: auto;
*/}

/* User Organzation List */

.org-list ul {
  list-style-type: none;
  margin: 0px;
}