<form
	id="dataset-edit"
	class="${'tab-content' if tab_mode else ''} ${'has-errors' if errors else ''} form-horizontal"
	method="post"
	py:with="tab_mode=(c.action=='edit')"
	xmlns:i18n="http://genshi.edgewall.org/i18n"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude" >

<xi:include href="../_util.html" />

<div class="alert alert-error error-explanation" py:if="error_summary">
<h2>Errors in form</h2>
<p>The form contains invalid entries:</p>
<ul>
  <li py:for="key, error in error_summary.items()"><strong>${"%s:" % (key if not key=='Name' else 'URL')}</strong>
    ${" %s" % (error)}
    <py:if test="key=='Resources'">
      <ul>
        <py:for each="idx, errordict in enumerate(errors.get('resources', []))">
          <li py:if="errordict">
            Resource ${idx}:
            <ul>
              <li py:for="thiskey, thiserror in errordict.items()">${thiskey}: <py:for each="errorinfo in thiserror">${errorinfo}; </py:for></li>
            </ul>
          </li>
        </py:for>
      </ul>
    </py:if>
  </li>
  <script>var global_form_errors = ${h.dump_json(errors)};</script>
</ul>
</div>

<fieldset class="tab-pane fade in active" id="basic-information">

  <legend>Metadaten zum Datensatz</legend>

  <div class="control-group required-field">
    <label class="control-label"><i class="icon-asterisk icon-large"></i></label>
    <div class="controls"><p class="instructions basic"><em>kennzeichnet ein Pflichtfeld</em></p></div>
  </div>

  <div class"control-group type-field required-field">
    <label class="control-label" for="type">Art<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <select id="type" name="type">
        <option>Anwendung</option>
        <option selected="selected">Daten</option>
        <option>Dokument</option>
      </select>
      <p class="instructions basic">Art des Datensatzes<br/>
          Die folgenden drei Möglichkeiten werden unterschieden:
       <ul>
        <li>Daten</li>
        <li>Dokumente</li>
        <li>Anwendungen</li>
       </ul>
      </p>
    </div>
  </div>

  <div class="control-group title-field required-field">
    <label class="control-label" for="title">Titel<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <input id="title"
        class="js-title"
        name="title" type="text"
        value="${data.get('title', '')}"
        placeholder="${_('A short descriptive title for the dataset')}"
      />
      <p class="instructions basic">Kurzer bezeichnender Freitext (max. 256 Zeichen).</p>
      <p class="instructions further">Soll eindeutig auf den Inhalt schließen lassen. Die Beschreibung erfolgt weiter unten.</p>
      <p class="hints">Z.B. Wahl zum Berliner Abgeordnetenhaus 2006</p>
      <p class="field_error" py:if="errors.get('title', '')">${errors.get('title', '')}</p>
    </div>
  </div>

  <div class="control-group name-field required-field">
    <label class="control-label" for="name">Name<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <div class="input-prepend">
        <!-- <span class="add-on">${h.url(controller='package', action='search')+'/'}</span> -->
        <input maxlength="100" name="name" type="text" class="js-url-input" value="${data.get('name', '')}" />
      </div>
      <p class="js-url-is-valid">&nbsp;</p>
      <!-- <p class="url-is-long">Warning: URL is very long. Consider changing it to something shorter.</p> -->
      <p class="instructions basic">Der Name wird fast immer korrekt automatisch ausgefüllt. Er wird später nicht geändert, auch wenn sich der Titel ändert und ist praktisch nur für Entwickler bedeutend.</p>
      <p class="instructions further">Zwei oder mehr Zeichen, nur Kleinbuchstaben ('a-z'), Ziffern ('0-9'), '-' und '_'. Soll trotzdem verständlich sein für Menschen. Eine spätere Änderung ist nicht vorgesehen.</p>
      <p class="hints">Z.B. <code>abgeordnetenhaus-berlin-wahl-2006</code></p>
      <p class="field_error" py:if="errors.get('name', '')">${errors.get('name', '')}</p>
    </div>
  </div>

  <div class="control-group required-field">
    <label class="control-label field_opt" for="author">Veröffentlichende Stelle<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <input id="author" name="author" type="text" value="${data.get('author', '')}" />
      <p class="instructions basic">Möglichst genau die Verantwortliche Organisationseinheit</p>
      <p class="hints">Z.B. Umweltamt Charlottenburg-Wilmersdorf</p>
    </div>
  </div>

  <div class="control-group required-field">
    <label class="control-label field_opt" for="maintainer_email">Kontakt-Email<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <input id="maintainer_email" name="maintainer_email" type="text" value="${data.get('maintainer_email', '')}" />
      <p class="instructions basic">Ansprechpartner zum Datensatz sind unter dieser Email zu erreichen.</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt" for="maintainer">Kontaktinformation Name</label>
    <div class="controls">
      <input id="maintainer" name="maintainer" type="text" value="${data.get('maintainer', '')}" />
      <p class="instructions basic">Persönlicher Ansprechpartner zum Datensatz (inhaltliche Verantwortung).</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt">Veröffentlichende Person</label>
    <div class="controls">
      <input id="username" name="username" type="text" value="${data.get('username', '')}" />
      <p class="instructions basic">Person, die lediglich für Veröffentlichung zuständig ist.</p>
    </div>
  </div>

  <div class="control-group homepage-field">
    <label class="control-label" for="url">Webadresse</label>
    <div class="controls">
      <input id="url" name="url" type="text" value="${data.get('url', '')}"/>
      <p class="instructions basic">Die URL, unter der der Datensatz näher beschrieben wird (URL der Behörde).</p>
      <p class="hints">z.B. http://www.statistik-berlin-brandenburg.de/Statistiken/</p>
      <p class="field_error" py:if="errors.get('url', '')">${errors.get('url', '')}</p>
    </div>
  </div>

  <div class="control-group description-field">
    <label class="control-label" for="notes">Kurzbeschreibung</label>
    <div class="controls">
      ${markdown_editor('notes', data.get('notes'), 'notes', _('Start with a summary sentence ...'))}
      <p class="instructions basic">Beschreibung des Datensatzes (max. 1000 Zeichen).<br/>
      Soll kurz gehalten sein, insbesondere sollte der erste Satz zusammenfassen, was genau enthalten ist.</p>
    </div>
  </div>

  <div class="control-group license-field required-field">
    <label class="control-label" for="license_id">Lizenz<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <select id="license_id" name="license_id">
        <py:for each="licence_desc, licence_id in c.licences">
          <py:if test="licence_desc is not ''">        
            <option value="${licence_id}" py:attrs="{'selected': 'selected' if data.get('license_id', '') == licence_id else None}" >${licence_desc}</option>
          </py:if>
        </py:for>
      </select>
      <p class="instructions basic">Lizenz, unter der der Datensatz steht.<br/>
          Derzeit sind zwei Möglichkeiten vorgesehen:
       <ul>
        <li>Für offene Daten die <a href="http://creativecommons.org/licenses/by/3.0/de/">Creative Commons Attribution Lizenz</a>. Sie erlaubt Nutzung, Kopie und abgeleitete Werke, solange der Autor des Datensatz darin gekennzeichnet wird.</li>
        <li>Alle anderen Datensätze gelten zunächst als nicht offen lizensiert.</li>
       </ul>
      </p>
    </div>
  </div>
  
  <div class="control-group required-field">
    <label class="control-label field_opt">Veröffentlichungsdatum<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <input id="date_released" name="date_released" type="text" value="${data.get('date_released', '')}" />
      <p class="instructions basic hints">Format: JJJJ-MM-TT</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt">Aktualisierungsdatum</label>
    <div class="controls">
      <input id="date_updated" name="date_updated" type="text" value="${data.get('date_updated', '')}" />
      <p class="instructions basic hints">Format: JJJJ-MM-TT</p>
    </div>
  </div>

  <div class="control-group groups-field required-field">
    <label class="control-label">Kategorie<i class="icon-asterisk icon-large"></i></label>
    <div class="controls">
      <py:with vars="groups=data.get('groups',[])">
        <?python
          from ckan.lib.helpers import group_name_to_title
        ?>
        <strong py:if="len(groups)>0">Member of:</strong>
        <py:for each="num, group in enumerate(groups)">
          <?python
            authorized_group = [group_authz for group_authz in c.groups_authz if group_authz['id'] == group['id']]
            authorized_group = authorized_group[0] if authorized_group else None
          ?>
          <div class="checkbox" py:if="'id' in group">
            <input type="${'checkbox' if authorized_group else 'hidden'}" name="groups__${num}__id" checked="checked" value="${group['id']}"/>
            <label for="groups__${num}__checked">${group_name_to_title(group.get('name', authorized_group['name'] if authorized_group else ''))}</label>
            <input type="hidden" name="groups__${num}__name" value="${group.get('name', authorized_group['name'] if authorized_group else '')}" />
          </div>
        </py:for>

        <select py:if="c.groups_available" id="groups__${len(groups)}__id" name="groups__${len(groups)}__id">
          <!-- <py:if test="len(groups)>0"> -->
            <option selected="selected" value="">(None)</option>
          <!-- </py:if> -->
          <py:for each="group in c.groups_available">
            <option value="${group['id']}" >${group_name_to_title(group['name'])}</option>
          </py:for>
        </select>
        <em py:if="not c.groups_available">Cannot add any groups.</em>
      </py:with>
    </div>
  </div>

  <div class="control-group tags-field">
    <label class="control-label">Schlagwörter</label>
    <div class="controls">
      <input class="long autocomplete-tag" id="tag_string" name="tag_string" size="60" type="text"
               value="${data.get('tag_string') or ', '.join([tag['name'] for tag in data.get('tags', []) if not tag.get('vocabulary_id')])}" />
      <p class="instructions basic">Begriffe, die den Datensatz einordnen. Begriffe mit Kommas trennen.</p>
      <p class="hints">z.B. Umwelt, Arbeit, Gastronomie</p>
      <p class="field_error" py:if="errors.get('tag_string', '')">${errors.get('tag_string', '')}</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt">Zeitraum von</label>
    <div class="controls">
      <input id="temporal_coverage-from" name="temporal_coverage-from" type="text" value="${data.get('temporal_coverage-from', '')}" class="medium-width"/>
      bis
      <input id="temporal_coverage-to" name="temporal_coverage-to" type="text" value="${data.get('temporal_coverage-to', '')}" class="medium-width"/>
      <p class="instructions basic">Welchen Zeitraum deckt der Datensatz ab?</p>
      <p class="hints">Format: JJJJ-MM-TT</p>
    </div>
  </div>

  <div py:if="c.temporal_granularities" class="control-group">
    <?python
      # set a default is not temporal granularity is given (i.e., this is a new dataset)
      if not data.get('temporal_granularity'):
        data['temporal_granularity'] = "Keine"
    ?>
    <label class="control-label field_opt" for="temporal_granularity">Zeitliche Auflösung</label>
    <div class="controls">
      <select id="temporal_granularity" name="temporal_granularity">
        <py:for each="temporal_granularity in c.temporal_granularities">
          <?python
            if temporal_granularity in data.get('temporal_granularity', []):
              selected = {'selected': 'selected'}
            else:
              selected = None
          ?>
          <option 
            value="${temporal_granularity}" 
            py:attrs="selected" >${temporal_granularity}</option>
        </py:for>
      </select>
      <p class="instructions basic">Wie sind die Daten in diesem Datensatz zeitlich aufgelöst?</p>
    </div>
  </div>

  <div py:if="c.geographical_coverages" class="control-group">
    <?python
      # set a default is not geographical coverage is given (i.e., this is a new dataset)
      if not data.get('geographical_coverage'):
        data['geographical_coverage'] = "Berlin"
    ?>
    <label class="control-label field_opt">Geopraphische Abdeckung</label>
    <div class="controls">
      <select id="geographical_coverage" name="geographical_coverage">
        <py:for each="geographical_coverage in c.geographical_coverages">
        <?python
          if geographical_coverage in data.get('geographical_coverage', []):
            selected = {'selected': 'selected'}
          else:
            selected = None
        ?>
          <option 
            value="${geographical_coverage}"
            py:attrs="selected" >${geographical_coverage}</option>
        </py:for>
      </select>
      <p class="instructions basic">Bereich, den der Datensatz abdeckt.</p>
    </div>
  </div>

  <div py:if="c.geographical_granularities" class="control-group">
    <?python
      # set a default is not geographical coverage is given (i.e., this is a new dataset)
      if not data.get('geographical_granularity'):
        data['geographical_coverage'] = "Berlin"
    ?>
    <label class="control-label field_opt">Geopraphische Auflösung</label>
    <div class="controls">
      <select id="geographical_granularity" name="geographical_granularity">
        <py:for each="geographical_granularity in c.geographical_granularities">
        <?python
          if geographical_granularity in data.get('geographical_granularity', []):
            selected = {'selected': 'selected'}
          else:
            selected = None
        ?>
          <option 
            value="${geographical_granularity}"
            py:attrs="selected" >${geographical_granularity}</option>
        </py:for>
      </select>
      <p class="instructions basic">Wie sind die Daten in diesem Datensatz räumlich aufgelöst?</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt">Anwendungen</label>
    <div class="controls">
      <input id="apps" name="apps" type="text" value="${data.get('apps', '')}"/>
      <p class="instructions basic">Existieren Anwendungen, die auf diesen Datensatz aufbauen?</p>
      <p class="hints">URL, URL, ...</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label field_opt">Sonstiges</label>
    <div class="controls">
      <input id="misc" name="misc" type="text" value="${data.get('misc', '')}"/>
      <p class="instructions basic">Weitere Angaben zum Datensatz</p>
      <p class="hints">Freitext, 200 Zeichen</p>
    </div>
  </div>

  <input name="author_email"	type="hidden" value="" />

</fieldset>


<fieldset class="tab-pane" id="resources">
  <legend>Dateien und APIs</legend>
  <p class="instructions basic">Die Dateien, die die Daten enthalten, bzw. Adresse der API.
  Es können mehrere Datein angegeben werden, z.B. falls mehrere Formate vorliegen.</p>
  <div class="row">
    <div class="span4">
      <ul class="resource-list resource-list-edit drag-drop-list">
      </ul>
      <ul class="resource-list resource-list-add">
        <li><a href="#" class="js-resource-add">${h.icon('page_white_add')}New resource...</a></li>
      </ul>
    </div>
    <div class="span8">
      <div style="display: none;" class="resource-panel">
        <button class="btn btn-danger resource-panel-close">x</button>
        <div class="resource-details resource-add">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#link-file">Link to a file</a></li>
            <li><a data-toggle="tab" href="#link-api">Link to an API</a></li>
            <!-- <li><a data-toggle="tab" href="#upload-file">Upload a file</a></li> -->
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="link-file">
              <div class="form-inline js-add-url-form">
                <label class="field_opt" for="url">File URL</label>
                <input name="add-resource-url" type="text" class="input-small" placeholder="http://mydataset.com/file.csv"/>
                <input name="add-resource-save" type="submit" class="btn btn-primary" value="Add" />
              </div>
            </div>
            <div class="tab-pane" id="link-api">
              <div class="form-inline js-add-api-form">
                <label class="field_opt" for="url">API URL</label>
                <input name="add-resource-url" type="text" class="input-small" placeholder="http://mydataset.com/api/"/>
                <input name="add-resource-save" type="submit" class="btn btn-primary" value="Add" />
              </div>
            </div>
            <div class="tab-pane" id="upload-file">
              <div class="js-add-upload-form">
              </div>
              <div class="alert alert-block" style="display: none;"></div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>

  <div class="js-resource-edit-barebones">
    <!-- The resource editor deletes these fields and replaces them with a dynamic editor.
         They are required for the form to render correctly when not in resource-edit mode. -->
    <py:for each="num,res in enumerate(data.get('resources', []))">
      <py:for each="field in res.keys()">
      <input type="hidden" name="resources__${res.get('position')}__${field}" value="${res.get(field)}" />
      </py:for>
    </py:for>
  </div>
</fieldset>

<fieldset class="tab-pane fade" id='further-information'>
  <div class="control-group">
    <label class="control-label field_opt" for="version">Version</label>
    <div class="controls">
      <input id="version" maxlength="100" name="version" type="text" value="${data.get('version', '')}" />
      <p>A number representing the version (if applicable)</p>
      <p>e.g. 1.2.0</p>
    </div>
  </div>
</fieldset>

<fieldset class="tab-pane fade" id='extras'>
    <!-- 
        I replace the regular template for extras input with just a dummy element.
        This is so that a.) the values of the extras-based fields in basic information 
        won't be overwritten by their extras counterpart, and b.) so that the internal
        CKAN logic still has an extras element to extract from the page - otherwise the
        form submission fails.
        The solution is obviously a hack.
      -->
<div class="control-group">
<div class="controls">
<input id="extras__0__key" name="extras__0__key" type="text" value=""/>
<input id="extras__0__value" name="extras__0__value" type="text" value=""/>
</div>
</div>
  <!-- <p>Adding custom fields to the dataset such as "location:uk" can help users find it in the search engine. This data will also appear under <strong>Additional Information</strong> when viewing the dataset.</p>
  <py:with vars="extras = data.get('extras', [])">
    <py:for each="num, extra in enumerate(extras)">
      <div class="control-group">
        <label class="control-label" for="extras__${num}__value">${extra.get('key')}</label>
        <div class="controls">
          <input id="extras__${num}__key" name="extras__${num}__key" type="hidden" value="${extra.get('key')}" />
          <input id="extras__${num}__value" name="extras__${num}__value" type="text" value="${extra.get('value')}" />
          <label class="checkbox" style="display: inline-block;">
            <input type="checkbox" name="extras__${num}__deleted" checked="${extra.get('deleted')}" />Delete
          </label>
        </div>
      </div>
    </py:for>
    <hr py:if="len(extras)" class="extras-divider" />
    <py:for each="num in range(len(extras), len(extras) + 4)">
      <div class="control-group">
        <label class="control-label" for="extras__${num}__key">Add...</label>
        <div class="controls">
          <label>
            <span class="extras-label">Key =</span>
            <input class="medium-width" id="extras__${num}__key" name="extras__${num}__key" type="text" />
          </label>
          <label>
            <span class="extras-label">Value =</span>
            <input class="medium-width" id="extras__${num}__value" name="extras__${num}__value" type="text" />
          </label>
        </div>
      </div>
    </py:for>
  </py:with> -->
</fieldset>

<fieldset id='delete' class="tab-pane fade" py:if="c.is_sysadmin or c.auth_for_change_state">
  <dl>
    <dt>Delete</dt>
    <dd>
      <p>Do you really want to change the state of this dataset? &nbsp;&nbsp;<button class="dataset-delete btn">Yes!</button></p>
      <span>
      This dataset is&nbsp;&nbsp;
      <select id="state" class="dataset-delete" name="state" style="display:inline;">
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">active</option>
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">deleted</option>
      </select>
      </span>
    </dd>
  </dl>
  <p class="instructions basic">Legt fest, ob der Datensatz auf dem Datenportal <a href='http://daten.berlin.de' title="Berlin Open Data">daten.berlin.de</a> sichtbar ist.</p>
</fieldset>

<fieldset id='summary'>
  <div class="control-group">
    <label class="control-label" for="log_message">Zusammenfassung</label>
    <div class="controls">
        <textarea id="log_message" name="log_message">${data.get('log_message', h.auto_log_message())}</textarea>
        <p class="instructions basic">Interne Notizen zur Bearbeitung der Metadaten dieses Datensatzes.</p>
    </div>
  </div>
</fieldset>

<div class="author-box ckan-logged-in" style="display: none;">
  <p>Author: ${c.author}</p>
</div>
<div class="author-box ckan-logged-out">
  <label>Author: ${c.author}</label>
  <p i18n:msg="" class="hints">
    Since you have not signed in this will just be your IP address.
    <a href="${h.url_for(controller='user', action='login', id=None)}" target="_blank">Click here to sign in</a> before saving (opens in new window).
  </p>
</div>

<div class="form-actions">
  <input id="save" class="btn btn-primary" name="save" type="submit" value="${_('Save Changes')}" />
  <py:if test="c.pkg">
    <input id="cancel" class="btn href-action" name="cancel" type="reset" value="${_('Cancel')}" action="${h.url_for(controller='package', action='read', id=c.pkg.name)}" />
  </py:if>
  <p class="hints"><strong>Wichtig:</strong> Indem Sie den Datensatz hinzufügen, stellen Sie die hier angegeben Metadaten unter der <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database Lizenz</a> frei.</p>
</div>


</form>
