{% ckan_extends %}

{% block header_site_navigation_tabs %}
  {% if c.userobj.sysadmin %}
    {{ h.build_nav_main(
      ('search', _('Datasets')),
      ('organizations_index', _('Organizations')),
      ('group_index', _('Kategorien')),
      ('user_index', _('User')),
    ) }}
    <li><a href="/harvest">Harvest</a></li>
    {{ h.build_nav_main(
      ('about', _('About'))
    ) }}
  {% elif c.userobj %}
    {{ h.build_nav_main(
      ('search', _('Datasets')),
      ('organizations_index', _('Organizations')),
      ('group_index', _('Kategorien')),
      ('about', _('About'))
    ) }}
  {% else %}
    {{ h.build_nav_main(
      ('about', _('About'))
    ) }}
  {% endif %}
{% endblock %}
